:root {
  --primary-color: #ffdd00;
  --success-color: #6ab04c;
  --warning-color: #f0932b;
  --danger-color: #fd2f2c;

  --light-color: #212529;
  --light-second-color: #727475;
  --light-background: #ffffff;
  --light-second-background: #f1f1f1;

  --dark-color: #909090;
  --dark-second-color: #f5f6fa;
  --dark-background: #23242d;
  --dark-second-background: #181818;
}

.light {
  --main-bg-color: var(--light-background);
  --second-bg-color: var(--light-second-background);
  --main-color: var(--light-color);
  --second-color: var(--light-second-color);
}

.dark {
  --main-bg-color: var(--dark-background);
  --second-bg-color: var(--dark-second-background);
  --main-color: var(--dark-color);
  --second-color: var(--dark-second-color);
}

.bg-primary {
  background: var(--primary-color);
}

.bg-success {
  background: var(--success-color);
}

.bg-warning {
  background: var(--warning-color);
}

.bg-danger {
  background: var(--danger-color);
}

.home {
  background: var(--main-bg-color);
  color: var(--main-color);
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar:hover::-webkit-scrollbar {
  display: block;
}

.navbar {
  display: flex;
  flex-direction: row;
  background: var(--main-bg-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.nav-link {
  position: relative;
  float: left;
  text-align: center;
  padding: 21px 10px;
  text-decoration: none;
  font-size: 18px;
  color: var(--second-color);
}

.nav-link:hover {
  cursor: pointer;
}

.navbar-nav i {
  font-size: 1.4rem;
}

.nav-right {
  margin-left: auto;
}

.navbar-search {
  position: relative;
  margin: auto;
  width: 50%;
}

.navbar-search input {
  background: var(--second-bg-color);
  border: none;
  padding: 12px 30px 12px 20px;
  width: 100%;
  outline: none;
  color: var(--main-color);
  border-radius: 20px;
  font-size: 0.9rem;
}

.navbar-search .fa-search {
  position: absolute;
  top: 33%;
  right: 10px;
  color: var(--main-color);
}

.nav-item .logo {
  width: 150px;
  margin: auto;
  padding: 10px;
}

.navbar .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar .avatar {
  padding: 10px;
}

.navbar-badge {
  position: absolute;
  font-size: 0.6rem;
  padding: 3.5px;
  width: 19px;
  height: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  right: 0;
  top: 30px;
  color: #ffffff;
  background: var(--danger-color);
  border-radius: 50%;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-menu-notification {
  display: none;
  list-style-type: none;
  flex-direction: column;
  position: absolute;
  right: 20%;
  top: 80%;
  background: var(--main-bg-color);
  max-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: unset;
}

.dropdown-menu-avatar {
  display: none;
  list-style-type: none;
  flex-direction: column;
  position: absolute;
  right: 20%;
  top: 80%;
  background: var(--main-bg-color);
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: unset;
}

.dropdown-menu-expand {
  display: flex;
}

.dropdown-menu-content {
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu-item {
  width: 100%;
}

.dropdown-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--main-color);
}

.dropdown-menu-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.dropdown-menu-link i {
  font-size: 1.25rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
  font-size: 15px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
  font-size: 10px;
}

.dropdown-menu-link:hover {
  cursor: pointer;
  background: var(--second-bg-color);
}

.dropdown-menu-header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-footer {
  padding: 10px;
  text-align: center;
  border-top: 1px solid var(--second-bg-color);
}

.content {
  padding: 10px;
  padding-top: 75px;
  margin-left: 250px;
  background-color: var(--second-bg-color);
  transition: margin-left 0.5s;
}

.slidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-top: 70px;
  background-color: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 100;
  transition: width 0.5s;
}

.slidebar:hover {
  width: 250px;
}

.slidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.slidebar-nav-item {
  width: 100%;
}

.slidebar-nav-link i {
  font-size: 1.5rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slidebar-nav-link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.slidebar-nav-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.slidebar-nav-link:hover {
  background-color: var(--second-bg-color);
}

.slidebar-nav-link.active {
  background-color: var(--second-bg-color);
  color: var(--primary-color);
}

.slidebar-nav-link.active div {
  border-left: 5px solid var(--primary-color);
}

.slidebar-nav-link.active i {
  color: var(--primary-color);
  margin-left: -5px;
}

.slidebar-expand .slidebar {
  width: 250px;
}

.slidebar-expand .content {
  margin-left: 250px;
}

/*-----------
Dashboard
-------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row:after,
.row:before {
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px;
}

.col {
  width: 50%;
}

.counter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.counter:hover {
  cursor: pointer;
}

.counter i {
  font-size: 25px;
}

/* Extra small devide <= 600px */
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 0;
  }
  .wrapper {
    margin-left: 0;
  }
  .sidebar-expand .wrapper {
    margin-left: 0;
  }
  .nav-right .nav-item {
    display: none;
  }
  .nav-right .mode,
  .nav-right .avt-wrapper {
    display: list-item;
  }
  .navbar-search {
    display: none;
  }
  .dropdown-menu {
    max-width: 300px;
  }
  [class*="col-"] {
    width: 100%;
  }
}

/* Small devide >= 600px */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium devide <= 768px */
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* Laptop or Desktop >= 992px */
@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Large laptop or Desktop >= 12002px */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.card {
  background: var(--main-bg-color);
  color: var(--main-color);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  position: relative;
  padding: 15px 30px;
  border-bottom: 1px solid var(--second-bg-color);
}

.card-header i:hover {
  cursor: pointer;
}

.card-header i {
  position: absolute;
  color: var(--main-color);
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.card-header h3 {
  margin: 0;
}

.card-content {
  padding: 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border-top: 1px solid var(--second-bg-color);
  padding: 15px;
}

table th {
  border-top: 1px solid var(--second-bg-color);
  border-bottom: 1px solid var(--second-bg-color);
  padding: 15px 12px;
  text-align: left;
}

table tr:hover {
  background-color: var(--second-bg-color);
  cursor: pointer;
}

.dot i {
  display: inline-block;
  width: 0.385rem;
  height: 0.385rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.385rem;
  margin-top: -0.2rem;
}

.progress-wrapper {
  margin-bottom: 15px;
}

.float-right {
  float: right;
}

.progress {
  height: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}
