@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;600;700;900&display=swap");

:root {
  --color_main_1: #f9d836;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}
